# unique to hipflowapp
*.log
HipNativeFlow

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/hipflowapp/.vs/Hip_Native/v16
/hipflowapp/Hip_Native/obj/ARM/DbgFlow
/.vs
/hipflowapp/Hip_Native/bin/ARM/DbgFlow
/hipflowapp/Hip_Native/bin/ARM64/DbgFlow/hipflowapp
/hipflowapp/Hip_Native/obj/ARM64/DbgFlow
/hipflowapp/Hip_Native/.visualgdb/CodeDB/hipflowapp-Debug-VisualGDB
/hipflowapp/Hip_Native/.vs/hipflowapp/v16
/hipflowapp/Hip_Native/VisualGDB/Debug
